@import '~@spectrum-css/table/dist/index-vars';

uimo-table {
  @extend .spectrum-Table, .spectrum-Table--emphasized, .spectrum-Table--sizeS;

  display: flex !important;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 48px);
  
  & > .table-container {
    overflow: hidden;
    position: relative;
    gap: 0px;
  
    border-radius: var(--mod-table-border-radius, var(--spectrum-table-border-radius));
    border: var(--mod-table-outer-border-inline-width, var(--spectrum-table-outer-border-inline-width)) solid var(--highcontrast-table-border-color, var(--mod-table-border-color, var(--spectrum-table-border-color)));
  }

  & > .table-resize-indicator {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--mod-table-focus-indicator-thickness, var(--spectrum-table-focus-indicator-thickness));
    background-color: var(--highcontrast-table-focus-indicator-color, var(--mod-table-drop-zone-outline-color, var(--spectrum-table-drop-zone-outline-color)));
  }

  .fetch-trigger {
    width: 100%;
    display: none;
    align-items: center;
    background-color: var(--spectrum-table-cell-background-color);
    flex-direction: column;
    
    
    &.start {
      justify-content: flex-start;
      min-height: 30px;
    }
    
    &.end {
      justify-content: flex-end;
      min-height: 90px;
      margin-top: -50px;
    }
  }

  .body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    overflow: auto;
  }
}