@import '~@spectrum-css/tokens/dist/index.css';
@import '~@spectrum-css/tokens/dist/css/spectrum/medium-vars.css';
@import '~@spectrum-css/tokens/dist/css/global-vars.css';
@import '~@spectrum-css/tokens/dist/css/medium-vars.css';
@import '~@spectrum-css/tokens/dist/css/light-vars.css';

@import '~@spectrum-css/vars/dist/spectrum-global.css';
@import '~@spectrum-css/vars/dist/spectrum-medium.css';
@import '~@spectrum-css/vars/dist/spectrum-light.css';


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

div {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}