@import '~@spectrum-css/tokens/dist/index.css';
@import '~@spectrum-css/tokens/dist/css/spectrum/medium-vars.css';
@import '~@spectrum-css/tokens/dist/css/global-vars.css';
@import '~@spectrum-css/tokens/dist/css/medium-vars.css';
@import '~@spectrum-css/tokens/dist/css/light-vars.css';

@import '~@spectrum-css/vars/dist/spectrum-global.css';
@import '~@spectrum-css/vars/dist/spectrum-medium.css';
@import '~@spectrum-css/vars/dist/spectrum-light.css';


html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}