@import '~@spectrum-css/icon/dist/index-vars';
@import '~@vscode/codicons/dist/codicon.css';
@import '~@flaticon/flaticon-uicons/css/regular/straight';

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v109/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff');
}

uimo-icon {
  display: flex;
  align-items: center;

  &.mso {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  &.urs {
    font-family: uicons-regular-straight !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
