@import '~@spectrum-css/textfield/dist/index-vars';

uimo-text-field {
  @extend .spectrum-Textfield;

  display: flex;
  width: 100%;

  &.size-small {
    @extend .spectrum-Textfield--sizeS;
  }
  
  &.size-medium {
    @extend .spectrum-Textfield--sizeM;
  }
  
  &.size-large {
    @extend .spectrum-Textfield--sizeL;
  }

  &.label-top {
    flex-direction: column;
  }

  &.label-left {
    flex-direction: row;
    align-items: center;
  }
}
